{% extends 'introduction/base.html' %}
{% block content %}
{% block title %}
<title>Insecure Deserialization</title>
{% endblock %}
<div class="content">
	<h3></h3>
	<div class = "box">
		<h4>What is Insecure Deserialization</h4>
		<p class="bp">
			Exploitation of deserialization is somewhat difficult, as off the shelf exploits rarely work without changes or tweaks to the underlying exploit code.
			This issue is included in the Top 10 based on an industry survey and not on quantifiable data.
			Some tools can discover deserialization flaws, but human assistance is frequently needed to validate the problem. It is expected that prevalence data for deserialization flaws will increase as tooling is developed to help identify and address it.
			The impact of deserialization flaws cannot be overstated. These flaws can lead to remote code execution attacks, one of the most serious attacks possible.
			The business impact depends on the protection needs of the application and data.
		</p>

		<button class="coll btn btn-info">Lab Details</button>
		<div class="lab">
			<p class="bp">
				
			</p>
			<br>
			<div align="right">
				<button class="btn btn-primary" type="button" onclick="window.location.href='/insec_des_lab'">Access Lab</button>
			</div>
		</div>
		<h4>Insecure Deserialization</h4>
		<p class="bp">
			Applications and APIs will be vulnerable if they deserialize hostile or tampered objects supplied by an attacker. This can result in two primary types of attacks:
		</p>
			<ul>
				<li>Object and data structure related attacks where the attacker modifies application logic or achieves arbitrary remote code execution if there are classes available to the application that can change behavior during or after deserialization.</li>
			<li>Typical data tampering attacks such as access-control-related attacks where existing data structures are used but the content is changed.</li>
		</ul>
		<h4>
			Serialization may be used in applications for:
		</h4>	
		<ul>
			<li>Remote- and inter-process communication (RPC/IPC)</li>
			<li>Wire protocols, web services, message brokers</li>
			<li>Caching/Persistence</li>
			<li>Databases, cache servers, file systems</li>
			<li>HTTP cookies, HTML form parameters, API authentication tokens</li>
		</ul>
		<h4>
			How to Prevent
		</h4>	
		<p class="bp">The only safe architectural pattern is not to accept serialized objects from untrusted sources or to use serialization mediums that only permit primitive data types. If that is not possible, consider one of more of the following:
		</p>
		<ul>
			<li>Implementing integrity checks such as digital signatures on any serialized objects to prevent hostile object creation or data tampering.</li>
			<li>Enforcing strict type constraints during deserialization before object creation as the code typically expects a definable set of classes. Bypasses to this technique have been demonstrated, so reliance solely on this is not advisable.</li>
			<li>Isolating and running code that deserializes in low privilege environments when possible.</li>
			<li>Log deserialization exceptions and failures, such as where the incoming type is not the expected type, or the deserialization throws exceptions.</li>
			<li>Restricting or monitoring incoming and outgoing network connectivity from containers or servers that deserialize.
			 Monitoring deserialization, alerting if a user deserializes constantly.</li>
		</ul>
	</div>
</div>
{% endblock %}