<!Doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %}
            <title>OWASP Pygoat</title>
        {% endblock %}

    
        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="{% static 'introduction/style4.css'%}">
    
        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        <script defer src="{% static 'Lab/xss.js' %}"></script>
    
    </head>   

    <body>

        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>PyGoat</h3>
                    <strong>PG</strong>
                </div>
    
                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-home"></i>
                            Home
                        </a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="/">Introduction</a>
                            </li>
                        </ul>
                    </li>
                    <li>

                        <a href="#sqlSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-bug"></i>
                            A1: Injection
                        </a>
                        <ul class="collapse list-unstyled" id="sqlSubmenu">
                            <li>
                                <a href="/sql">SQl Injection </a>
                            </li>
                            <li>
                                <a href="/cmd">Command Injection</a>
                            </li>
                            <li>
                                <a href="#">Page 3</a>
                            </li>
                        </ul>
						 <a href="">
                            <i class="fas fa-bug"></i>
                            A2: Broken Authentication
                        </a>
						 <a href="/data_exp">
                            <i class="fas fa-bug"></i>
                            A3: Sensitive Data Exposure
                        </a>
                        <a href="/xxe">
                            <i class="fas fa-bug"></i>
                            A4: XML External Entities (XXE)
                        </a>
                         <a href="/ba">
                            <i class="fas fa-bug"></i>
                            A5: Broken Access Control
                        </a>
						 <a href="">
                            <i class="fas fa-bug"></i>
                            A6: Security Misconfiguration
                        </a>
                         <a href="/xss">
                            <i class="fas fa-bug"></i>
                            A7: Cross Site Scripting
                        </a>

                        <a href="/insec_des">
                            <i class="fas fa-bug"></i>
                            A8: Insecure Deserialization
                        </a>
						<a href="">
                            <i class="fas fa-bug"></i>
                            A9: Using Components with Known Vulnerabilities
                        </a>
						<a href="">
                            <i class="fas fa-bug"></i>
                            A10: Insufficient Logging & Monitoring
                        </a>
                        <a href="#challengeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-flag"></i>
                            Challenges
                        </a>
                        <ul class="collapse list-unstyled" id="challengeSubmenu">
                            <li>
                                <a href="#">Page 1</a>
                            </li>
                            <li>
                                <a href="#">Page 2</a>
                            </li>
                            <li>
                                <a href="#">Page 3</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#">
                            <i class="fas fa-question"></i>
                            Help
                        </a>
                    </li>
                </ul>
    
            </nav>
    
            <!-- Page Content  -->
            <div id="content">
    
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
    
                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fas fa-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>
    
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Login</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="#">Profile</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </nav>
                
                {% block content %}
                {% endblock %}
            </div>
        </div>
    
        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Popper.JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    
        <script type="text/javascript">
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            });
        </script>
    </body>
    
    </html>