{% extends 'introduction/base.html' %}
{% block content %}
{% block title %}
<title>SQL Injection</title>
{% endblock %}
<div class="content">
    <h3>Description</h3>
    <div class="box">

        <h4>What is SQL Injection<h4>
            <p class="bp"> A SQL injection attack consists of insertion or “injection” of a SQL query via the input data from the client to the application. A successful SQL injection exploit can read sensitive data from the database, modify database data (Insert/Update/Delete), execute administration operations on the database (such as shutdown the DBMS), recover the content of a given file present on the DBMS file system and in some cases issue commands to the operating system. SQL injection attacks are a type of injection attack, in which SQL commands are injected into data-plane input in order to affect the execution of predefined SQL commands.

</p>
        <button class="coll btn btn-info">Lab Details</button>
        <div class="lab">
              <p class="bp">

SQL injection errors occur when:

Data enters a program from an untrusted source.
The data used to dynamically construct a SQL query
The main consequences are:

Confidentiality: Since SQL databases generally hold sensitive data, loss of confidentiality is a frequent problem with SQL Injection vulnerabilities.
Authentication: If poor SQL commands are used to check user names and passwords, it may be possible to connect to a system as another user with no previous knowledge of the password.
Authorization: If authorization information is held in a SQL database, it may be possible to change this information through the successful exploitation of a SQL Injection vulnerability.
Integrity: Just as it may be possible to read sensitive information, it is also possible to make changes or even delete this information with a SQL Injection attack.
</p>

              <br>
                  <div align="right"> <button class="btn btn-primary" type="button" onclick="window.location.href='/sql_lab'">Access Lab</button></div>

              </p>
        </div>
        <h4>Mitigation<h4>
             <p class="bp">Content goes here !!!!</p>



    </div>
</div>



{% endblock %}